
.footer {
  padding: 100px 20px;
}

.footer__logo h1 {
  font-size: 24px;
  margin: 0;
}

.footer__links {
  list-style: none;
  padding: 0;
  font-size: .85em;
  line-height: 2;
  opacity: .75;
}

.footer__copyright {
  opacity: .75;
  font-size: 0.7em;
  margin: 1rem 0;
}

.footer_social i {
  font-size: 1.2em;
  opacity: .75;
  margin-right: 10px;
}
