/* TODO: Combine */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  /* Colors */
  --color-initial: white;
  --color-primary: #1f805a;
  --color-secondary: #2d3852;
  

  /* Fonts */
  --font-weight-body: 300;
  --font-logo: 'Poiret One', cursive;
  --font-secondary: 'Quicksand', sans-serif;
  --font-primary: 'Open Sans', sans-serif;
}
